{% extends "base.html" %}
{% block content %}
<h2>Sub-Account Opened</h2>
<p>Confirmation: a new sub-account has been created for {{ member.first_name }} {{ member.last_name }}.</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Account #</td><td>{{ account.account_number }}</td></tr>
<tr><td>Type</td><td>{{ account.account_type }}</td></tr>
<tr><td>Balance</td><td>${{ "%.2f"|format(account.balance) }}</td></tr>
</table>
<p><a href="/member/{{ member.member_id }}">Back to Member</a></p>
{% endblock %}
