{% extends "base.html" %}
{% block content %}
<div class="card">
<h2>Sub-Account Opened</h2>
<div class="alert alert-success">Confirmation: a new sub-account has been created for {{ member.first_name }} {{ member.last_name }}.</div>
<table border="1" class="data">
<tr><td>Field</td><td>Value</td></tr>
<tr><td>Account #</td><td>{{ account.account_number }}</td></tr>
<tr><td>Type</td><td>{{ account.account_type }}</td></tr>
<tr><td>Balance</td><td>${{ "%.2f"|format(account.balance) }}</td></tr>
</table>
<a class="btn-link" href="/member/{{ member.member_id }}">&larr; Back to Member</a>
</div>
{% endblock %}
